body{ 
margin:0;
background-color: #000000;}

p{
color: #ffffff;
font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
font-size: 18px;}

.rate {
background: #00a028;
padding: 0 10px;
border-radius: 5px;}



            /*ШАПКА*/
header{
display: flex;
align-items: center;
margin-top: 15px;
height: 80px;
width: 1518px;
background-color: rgb(0, 0, 0);
box-shadow:  0 0 15px 13px #f60df2;}



            /*Шапка левый блок*/
.menu{
display: flex; 
margin-left: 43px;
align-items: center;
gap:20px;
padding: 20px;}
    .menu:hover ul {
    display: block;}

.menu__list {
position: absolute;
display: none;
color: #ffffff;
list-style: none;
margin-left: -40px;
margin-top: 280px;}   
    li {
    background-color: rgba(87, 76, 86, 0.252);
    width: 230px;
    height: 45px;
    padding-top: 15px;
    text-align: center;
    font-family: 'Ysabeau Infant', sans-serif;}
    li:hover{
    background-color: rgba(198, 74, 207, 0.414);}

.anchor {
 color:#ffffff;
text-decoration: none;}    
    

.header__pro__kino{
white-space: nowrap;} 


                /*Шапка правый блок*/
.header__logo {
margin-left: 1000px;
display: flex;
gap: 10px;}

.header__text{ 
font-family: 'Ysabeau Infant', sans-serif;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #ffffff;
color: #000000;
font-size: 40px;
padding-bottom: 10px;
text-shadow:
            0 0 10px #f60df2,
            0 0 15px #f60df2,
            0 0 20px #f60df2,
            0 0 25px #f60df2,
            0 0 30px #f60df2,
            0 0 40px #f60df2;}

.header__icon{ 
display: flex;
align-items: center;}

                /*Фиксированная иконка попкорн*/
.fixed__icon__popcorn{
position: fixed;
left:30px;
bottom: 30px;
z-index: 10;}
               /*якорь НАВЕРХ*/
.up {
font-family: 'Ysabeau Infant', sans-serif;
font-size: 18px;
position: fixed;
right: 40px;
bottom: 30px;
color:#f0f1f5e7;
text-decoration: none;}
    .up:hover{
    color:#a7a7a8be;}


                /*Первый блок цитата*/
.main__quote{ 
display: flex;
align-items: center;
background-color: #000000;
margin-top: 120px;
width: 600px;
margin-left: 850px;}


                /*фиксированный бекграунд*/
.fix__background { 
background: url('https://i.pinimg.com/originals/fc/1e/5e/fc1e5ef5fe1bfffdbc3582d1c3532149.jpg');
background-attachment: fixed;
margin-top: 100px;
height:500px;
width: 1518px;}   


                /*блок ЛЮБИМЫЕ СЕРИАЛЫ*/
.title__fav__series { 
display: flex;
justify-content: center;
box-shadow: 0 0 15px 8px #150df6;
width: 1000px;
margin-left: 270px;
margin-top: 80px;
color: #ffffff;
font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
padding: 8px ;
font-size: 20px;}


                /*Очень странные дела*/
.stranger__things{
display: flex;
justify-content: space-between;
width: 1350px;
margin-top: 100px;
margin-left:90px ;}

.stranger__things__poster { 
display: flex;}

.stranger__things__text {
display: flex;
flex-wrap: wrap;
align-content: space-between;
width: 650px;
text-align: justify;}


            /*ТЬМА*/
.thedark{
display: flex;
justify-content: space-evenly;
width:1500px;}

.thedark__text {
display: flex;
flex-wrap: wrap;
align-content: space-evenly;
width: 800px;
margin-left: 40px;
text-align: justify;}    

.thedark__poster {
display: flex;
margin-right: 30px;}



            /*БЫВАЕТ И ХУЖЕ*/
.middle {
display: flex;
justify-content: space-between;
width: 1350px;
margin-top: 150px;
margin-left:90px ;}

.middle__poster{
display: flex;}

.middle__text {
display: flex;
flex-wrap: wrap;
text-align: justify;
align-content: space-between;
width: 650px;
margin-left: 40px;
}
   



            /*Даунтон*/  
.daunton{
display: flex;
justify-content: space-between;
width:1350px;
margin-left: 90px;
margin-top: 150px;}
    
.daunton__text {
display: flex;
flex-wrap: wrap;
align-content: space-evenly;
width: 800px;
text-align: justify;}

.daunton__poster {
display: flex; }
     
           
            /*Слоганы*/
.slogans { 
    display: flex;
    justify-content: start;
    margin-left: 260px;
    width: 800px;
    margin-top: 100px;
    font-weight: bolder;
    font-style: italic;
}

            /*Блоки Аудио и Кадры*/

.audio {
display: block;
margin-top: 100px;
margin-left: 570px;}

figcaption p{
width:500px;}
        
.Pictures {
display: flex;
width:1100px;
flex-wrap: wrap;
gap:10px;
margin-top: 20px;
margin-left: 240px;
}
    .Pictures__img{
    display: block;
    width: 200px;
    height: 120px;
    overflow: hidden;
    }
    .Pictures__img:hover {
    cursor: pointer;
    transform: scale(1.3);
}
    .Pictures__img:active {
    transform: scale(3.3);
    }

                /*Полосы разделения*/   

.left__streak{
height: 10px;
box-shadow: 0 0 15px 8px  #150df6;
width:1200px;
margin-top:200px;
margin-bottom: 100px;} 

.right__streak{
height: 10px;
box-shadow: 0 0 15px 8px  #150df6;
width:1208px;
margin-top:200px;
margin-bottom: 100px;
margin-left: 310px;}



   

                /*ЛЮБИМЫЕ актеры title*/
.actors__title{
display: flex;
justify-content: center;
box-shadow: 0 0 15px 8px #e90505;
width: 1300px;
margin-left: 100px;
margin-top: 300px;
margin-bottom:100px ;
color: #ffffff;
font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
padding: 8px ;
font-size: 20px;}

                /*GRID актеры*/
.actors__grid{
display: grid;
grid-template-columns: auto auto auto;
width: 1200px;
margin-left: 200px;
margin-top: 200px;
gap: 100px;
}

.actors__img {
display: block;
align-content: center;
width: 250px;
height: 300px;
overflow: hidden;
}
    .actors__img:hover{
    transform: scale(1.1);
    cursor: pointer;} 

.JD{color: #ffffff;
    } 


            /*Таблица*/
.table {
    display: block;
    margin-left:130px;
    margin-top: 120px;
}

table, th, td, tr { 
width: 1250px;
border: 4px solid rgb(0, 0, 0); 
border-collapse: collapse;    
padding:3px;
text-align: center;
color:#ffffff;
font-size: 18px;
font-family: 'Ysabeau Infant', sans-serif;
}
        th{background-color: #830000; 
}
        td{background-color: #131212;  
}


            /*Голливуд*/
.hollywood{
display: flex;
justify-content: center;
box-shadow: 0 0 15px 8px #dbf60d;
width: 1300px;
margin-left: 100px;
margin-top: 300px;
margin-bottom:100px ;
color: #ffffff;
font-family: 'Ysabeau Infant', sans-serif;
font-family: 'Ysabeau SC', sans-serif;
padding: 8px ;
font-size: 20px; }

.hollywood__pic{
display:block;
width:1518px;
height: 300px;
overflow: hidden;}

.hollywood__pic img{
margin-top:-300px;}

.hollywood__p{
width:800px;
margin-left: 550px;}

                /*Аллея славы*/
.alley{
display: flex;
justify-content: space-between;
margin-left:280px;
margin-top: 100px;
width: 1000px;
gap:55px;}


                /*История*/
.history{
width:1300px;
margin-left: 130px;
margin-right: 100px;
margin-top: 80px;}

.history p{
    text-align: justify;
}

.history img{ 
float: left;
margin-right: 20px;}

                /*Футер*/
footer{
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
width:1518px;
height: 110px;
box-shadow: 0 0 15px 8px #dbf60d;}





